.card {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  background-color: white;
  flex: 1;
  min-width: 0;
}

.image {
  width: 50%;
  height: auto;
  max-height: 350px;
  border-radius: 4px;
  object-fit: cover;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-dark);
  margin: 0 0 0.75rem 0;
}

.description {
  font-size: 1rem;
  color: var(--color-dark);
  line-height: 1.6;
  margin: 0 0 auto 0;
  

  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  
  p {
    margin: 0;
    display: inline;
  }
}

.genre {
  font-size: 0.85rem;
  color: var(--color-dark);
  margin: 0.75rem 0 0.5rem 0;
}
